$color-dark-gray: #252424;
$color-yellow: #FFFBF0;
$color-transparent: rgba(#fff, 0);

$font-mi-roman: 'millionaireroman', sans-serif;
$font-mi-italic: 'millionaireitalic', sans-serif;
$font-mi-script: 'millionairescript', sans-serif;

$font-gt-light: 'gtamericamonolight', sans-serif;
$font-gt-regular: 'gtamericamonoregular', sans-serif;
$font-gt-medium: 'gtamericamonomeduim', sans-serif;