
  <div class="container flower-container">
    <picture
      >
      <!-- <source
        srcset="assets/img/species/mono_routinus_scroll.webp"
        type="image/webp" /> -->
      <img
        class="page-species__scroll"
        [src]="flowerImg$ | async"
        alt=""
    /></picture>
    <a
      #scrollIcon
      [routerLink]="['species']"
      class="page-species__reveal-next-page scroll-down"
      style="opacity: 0"
    >
      <app-icon name="down" class="icon scroll-down__icon icon--down"></app-icon>
      <span class="scroll-down__text">Scroll to continue</span>
    </a>
  </div>
