<app-sound></app-sound>

<div class="container container--home-step1">
  <video appCache="/assets/video/home-bg.mp4" class="player" autoplay loop>
  </video>
  <div class="wrapper wrapper--home-step1">
    <img appCache="/assets/img/home/title.svg" alt="" class="img-title img-title--step1">
    <div class="text-block">In fact, everyone is creative. We all just express that creativity differently.<br/>No matter who you are or what you do, identifying and growing your creativity can benefit every part of your life.</div>
  </div>
  <div class="play-video">
    <button [routerLink]="['/home/video']" class="play-video__button">
      <app-icon name="scroll" class="icon--play-video"></app-icon>
    </button>
    <p class="play-video__title">Play video</p>
  </div>
</div>
