@import './variables.scss';

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;

  //.row--home-step3
  &--home-step3 {
    align-items: center;
  }

  //.row--survey
  &--survey {
    flex-grow: 1;
    align-items: stretch;
  }

  &--species-reveal {
    margin-top: auto;
    margin-bottom: auto;
  }
}

