{% from "../components/_icon.html" import icon %}

<div class="progress">		
	<nav class="progress__nav">	
		<a class="progress__button progress__button--prev" href="#">
			{{ icon(name="scroll", class="icon--question-prev") }}
		</a>
		<ul class="progress__list">
			<li class="progress__item"><a href="#" class="progress__bullet progress__bullet--completed"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet progress__bullet--skipped"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet progress__bullet--current"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
			<li class="progress__item"><a href="#" class="progress__bullet"></a></li>
		</ul>
		<a class="progress__button progress__button--next" href="#">						
			{{ icon(name="scroll", class="icon--question-next") }}
		</a>
	</nav>
</div>