<div class="habit-view">
  <h2 class="habit-view__title">Your <span class="habit-view__italic">creative habits</span></h2>
  <p class="habit-view__desc">
    Though we do all fit into one of seven Creative Species, we still each have our unique set of <span class="habit-view__italic">creative habits</span>. 
    One or more of your habits may differ from those most associated with your species — just as individuals within a species in nature have a unique set of DNA. 
    Some of your creative habits may also overlap with other Creative Species.
  </p>

  <div class="scroll-marker"><app-icon name="arrow-down" class="icon--arrow-down"></app-icon>Scroll to explore your creative habits</div>
</div>
