
  <div class="container page-habits__container" @fadeHabitView>
    <div class="row row--species-habits">
      <div class="col col--page-habits">
        <app-habit-intro *ngIf="habitView == 1"></app-habit-intro>
        <app-habit-explore *ngIf="habitView == 2" (showDetailsEvent)="showHabbitDetails($event)"></app-habit-explore>
        <app-habit-digging *ngIf="habitView == 3"></app-habit-digging>
        <app-habit-download *ngIf="habitView == 4"></app-habit-download>
      </div>
    </div>

    <a
      [routerLink]="['/profile-reveal', 'landscape']"
      class="page-species__reveal-next-page"
      [class.page-species__reveal-next-page--dark]="darkModeClass$ | async"
    >
    </a>
  </div>

<app-habit-description *ngIf="!!selectedHabit" [habit]="selectedHabit" (close)="closeHabitDetails()"></app-habit-description>
