<ng-container [ngSwitch]="cluster">
  <div class="page-species__text-wrapper species-col" [ngClass]="{'page-species__text-wrapper--landscape':landscapeMode}">
    <div class="species-col__wrapper">
      <p *ngSwitchCase="creativeSpeciesEnum.FOCUS_MONONOVOUS" class="page-species__text">
        <span class="page-species__text-upper">FOCUS MONONOVOUS </span>
        is a
        <span class="page-species__text-italic">detailed and dignified </span>
        creative species that, like Novo Gregarious, travels streams and rivers in search of
        <span class="page-species__text-italic">novel, unconstrained environments. Single-minded and precise, </span>
        Focus Mononovous requires
        <span class="page-species__text-italic">calm and quiet </span>
        to focus its energy into growing a colorful, perfectly-formed bloom. Although many creative species can thrive in indoor environments, Focus Mononovous grows best in the wild,
        <span class="page-species__text-italic">unconstrained and free. </span>
        Those who find a Focus Mononovous in the wild should be careful
        <span class="page-species__text-italic">not to distract it, </span>
        otherwise it may have to start its flowering process over again.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.MONO_ROUTINUS" class="page-species__text">
        <span class="page-species__text-upper"><span class="page-species__text-italic">M</span>ONO <span class="page-species__text-italic">R</span>OUTINUS </span>
        typically grows its best blooms while alone, in
        <span class="page-species__text-italic">enclosed environments </span>
        where it can find
        <span class="page-species__text-italic">predictable </span>
        conditions in which to
        <span class="page-species__text-italic">spread its roots. </span>
        Similar to Solo Noctus, this creative species
        <span class="page-species__text-italic">does not take chances </span>
        with its precious resources, preferring to begin growing a bloom only when all conditions are
        <span class="page-species__text-italic">perfect. </span>
        Those who come across a Mono Routinus in the wild should be respectful of its
        <span class="page-species__text-italic">privacy </span>
        and careful not to disturb its process.
        <br>
        Although it does not produce flowers at the speed of some other species, if given the right conditions, Mono Routinus will
        <span class="page-species__text-italic">reliably produce </span>
        perfect blooms throughout its remarkably productive life.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.NOVO_GREGARIOUS" class="page-species__text">
          <span class="page-species__text-upper"><span class="page-species__text-italic">N </span>OVO GREGA<span class="page-species__text-italic">R</span>IOUS </span>
        is a
        <br>
        <span class="page-species__text-italic">highly-social </span>
        creative species that thrives in
        <span class="page-species__text-italic">noisy, bustling environments, </span>
        its roots floating down stream to
        <span class="page-species__text-italic">absorb </span>
        nutrients, and the abundant energy emanated by the species around it.
        <span class="page-species__text-italic">Community </span>
        is Novo Gregarious’ primary motivating force, so it often does not bloom until
        <span class="page-species__text-italic">encouraged </span>
        to do so by others around it.
        <span class="page-species__text-italic">A vibrant and joyful </span>
        species, Novo Gregarious has the unique ability to
        <span class="page-species__text-italic">bring together </span>
        species that otherwise would bloom alone. Creative species spotters who would like to see a Novo Gregarious bloom, should bring a friend along, play music, and can encourage its flowering with a
        <span class="page-species__text-italic">lively </span>
        conversation.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.SOCIALIS_ADVENTUROUS" class="page-species__text">
        <span class="page-species__text-upper">SO<span class="page-species__text-italic">C</span>IALIS ADVENTU<span class="page-species__text-italic">R</span>OUS </span>
        is characterized by its
        <span class="page-species__text-italic">many blooms </span>
        that take flight to
        <span class="page-species__text-italic">ride air currents </span>
        in search of
        <span class="page-species__text-italic">new landscapes. </span>
        A
        <span class="page-species__text-italic">highly-social </span>
        creative species, Socialis Adventurous is found in habitats
        <span class="page-species__text-italic">dense with others, </span>
        its roots flowing out to
        <span class="page-species__text-italic">collect </span>
        a wide range of nutrients, the more the better. Like Yolo Chaotis, Socialis Adeventurous liberally spreads its energy
        <span class="page-species__text-italic">across many blooms </span>
        at once, knowing that even though not all of them will flourish, those blooms that do, will be
        <span class="page-species__text-italic">strong and vivid. </span>
        Those who would like to see the best of this creative species will need to
        <span class="page-species__text-italic">rise early, </span>
        because many Socialis Adventurous prefer to show their brightest colors in the morning.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.SOLO_NOCTUS" class="page-species__text">
        <span class="page-species__text-upper"><span class="page-species__text-italic">S</span>OLO NO<span class="page-species__text-italic">C</span> TUS </span>
        can be found in
        <span class="page-species__text-italic">open terrain </span>
        blooming under a
        <span class="page-species__text-italic">wide-open night sky </span>
        and will not thrive in constrained environments. Similar to Sui Inspira, this creative species grows from a bulb that
        <span class="page-species__text-italic">contains </span>
        everything it needs to succeed. Solo Noctus is
        <span class="page-species__text-italic">tenacious and dedicated, </span>
        waiting until conditions are
        <span class="page-species__text-italic">perfect </span>
        to put all its energy into growing a
        <span class="page-species__text-italic">single, </span>
        densely-petaled flower. A Solo Noctus does poorly in captivity, so
        those who want to see its fabled flower in person should be prepared
        to stay up late, because this creative species only blooms at night.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.SUI_INSPIRA" class="page-species__text">
          <span class="page-species__text-upper"><span class="page-species__text-italic">S</span>UI INSPI<span class="page-species__text-italic">R</span>A </span>
        is found in
        <span class="page-species__text-italic">quiet, enclosed habitats, </span>
        protected from passersby and
        <span class="page-species__text-italic">far </span>
        from other flora and fauna. This unique and magical creative species requires a
        <span class="page-species__text-italic">predictable environment </span>
        and has a deeply-rooted bulb that
        <span class="page-species__text-italic">contains </span>
        all the nutrients it needs to grow. Because it is so self-sufficient,Sui Inspira is
        <span class="page-species__text-italic">happy in isolation, </span>
        diligently growing its intricate, gently-glowing bloom. Those who come across a Sui Inspira in the wild should be
        <span class="page-species__text-italic">quiet, respectful, </span>
        and let it bloom in peace.
      </p>
      <p *ngSwitchCase="creativeSpeciesEnum.YOLO_CHAOTIS" class="page-species__text">
        <span class="page-species__text-upper">YOL<span class="page-species__text-italic">O C</span>HAOTIS </span>
        is best known for its many,
        <span class="page-species__text-italic">varied, and sometimes wild </span>
        thickets of bright flowers. A
        <span class="page-species__text-italic">novelty-seeker </span>
        like Novo Gregarious, this creative species thrives in mountain streams, where the
        <span class="page-species__text-italic">current </span>
        can carry it to
        <span class="page-species__text-italic">new and changing environments. </span>
        Unlike Socialis Adventurous, which draws nutrients from its environment, Yolo Chaotis has all it needs to thrive
        <span class="page-species__text-italic">contained within </span>
        its bulb, and will spread its energy
        <span class="page-species__text-italic">across many new </span>
        flowers at once, even if conditions aren’t perfect. Since Yolo Chaotis is
        <span class="page-species__text-italic">inwardly-energized, </span>
        in the right conditions the careful observer may even see a subtle glow emanating from deep inside this special creative species.
      </p>
      <a
        *ngIf="!landscapeMode"
        href="#"
        class="scroll-down scroll-down--in-text"
        [ngClass]="{'scroll-down--dark':dark}"
        (click)="gotoCircles($event)"
      >
        <app-icon name="down" class="icon scroll-down__icon icon--down"></app-icon>
        <span class="scroll-down__text">Scroll to continue</span>
      </a>
    </div>
  </div>
</ng-container>
