<nav class="header-menu" [class.header-menu--dark]="isDarkMode | async">
  <ul class="header-menu__list">
    <li *ngIf="(creativeSpecies$ | async) !== -1" class="header-menu__item">
      <a [routerLink]="['profile-reveal']" class="header-menu__link" [ngClass]="{'header-menu__link--active':isSpeciesActive}">Species</a>
    </li>
    <li *ngIf="(creativeSpecies$ | async) !== -1" class="header-menu__item">
      <a [routerLink]="['profile-reveal', 'habits']" routerLinkActive="header-menu__link--active" class="header-menu__link">Habits</a>
    </li>
    <li *ngIf="(creativeSpecies$ | async) !== -1" class="header-menu__item">
      <a [routerLink]="['profile-reveal', 'landscape']" routerLinkActive="header-menu__link--active" class="header-menu__link">Landscape</a>
    </li>
  </ul>
</nav>
