<div class="survey-faq">
    <button class="survey-faq__close" (click)="closeFAQ()">
      <app-icon name="close"></app-icon>
    </button>
    <div class="survey-faq__wrapper">
      <h4 class="survey-faq__title title">How to take this survey</h4>
      <p class="survey-faq__text">
        First of all, don’t sweat it. This isn’t a test; it’s a survey.
        Basically, we want you to simply reflect on yourself: we’re asking
        questions about when, where, and how you feel most creative. So when you
        take the survey, don’t overthink your answers. Just be yourself. After
        all, everyone’s path toward creativity is different.
      </p>
      <h4 class="survey-faq__title title">
        Conditioned behaviors VS natural preferences
      </h4>
      <p class="survey-faq__text">
        We want to know your preference. For example, if you would rather do
        your creative work early in the morning, but due to family obligations
        you end up working at night, then you should answer “Early Bird,”
        because that’s your preferred tendency.
      </p>
    </div>
</div>
