{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_header.html" import header %}
{% from "./templates/components/_icon.html" import icon %}

{% block page_title %}
		Habits
{% endblock %}

{% block page_header %}
	{{ header(showSound=true, showInfo=true, showMenu=true) }}
{% endblock %}

{% set pageClass='page-species page-species--reveal page-species--mono-routinus page--habits' %}
{{ header(showSound=true, showInfo=true) }}
{% block page_content %}
  <div class="page-species__wrapper">
    <div class="page-species__bg-container">
      <img class="page-species__bg" src="images/species/mono_routinus_bg.jpg" alt="">
    </div>
    <div class="container page-species__container"></div>
  </div>
  <div class="container page-species__reveal-container page-habits__container">
      <div class="row">
        <div class="col col--page-habits page-habits__col">
          <!-- Content block -->
          <div class="page-habits__content-block">
            <p class="page-habits__big-text">Your creative habits share a 75% affinity with Mono Routinus. See where your creative habits overlap.</p>
            <p class="page-habits__small-text">The Creative Species assigned to you is based on how your unique set of creative habits and preferences compare to other people in our reference database. No match is perfect. 75% of Mono routinus' defining habits overlap with yours. You also have your own unique preferences and likely will find some affinities with the top habits of one of the other Creative Species.</p>
            <div class="page-habits__tabs page-habits__tabs--disabled">
              <button class="page-habits__tab">Mono Routinus</button>
              <button class="page-habits__tab">You</button>
            </div>
            <div class="page-habits__content-box">
              <div class="page-habits__content page-habits__content--active">
              </div>
            </div>
          </div>
          <!-- Content block -->
          <div class="page-habits__content-block">
            <p class="page-habits__big-text">Your creative habits share a 75% affinity with Mono Routinus. See where your creative habits overlap.</p>
            <div class="page-habits__tabs">
              <button class="page-habits__tab page-habits__tab--active">Mono Routinus</button>
              <button class="page-habits__tab">You</button>
            </div>
            <div class="page-habits__content-box">
              <div class="page-habits__content page-habits__content--active">
                <button class="page-habits__button page-habits__button--double-border">Dislike Distractions</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Pragmatist</button>
                <button class="page-habits__button page-habits__button--double-border">Risk-Averse</button>
                <button class="page-habits__button page-habits__button--double-border">Solo Creator</button>
                <button class="page-habits__button page-habits__button--double-border">Non-Kinetic</button>
                <button class="page-habits__button page-habits__button--double-border">Routine-Seeker</button>
                <button class="page-habits__button page-habits__button--double-border">Monotasker</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Reframer</button>
                <button class="page-habits__button page-habits__button--double-border">Make It Happen</button>
                <button class="page-habits__button page-habits__button--double-border">Private</button>
                <button class="page-habits__button page-habits__button--double-border">Externally Motivated</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Night Owl</button>
                <button class="page-habits__button">Stimulated by Constraints</button>
                <button class="page-habits__button">Rational</button>
                <button class="page-habits__button">Slow-Paced</button>
                <button class="page-habits__button">Nature-Agnostic</button>
              </div>
              <div class="page-habits__content">
                <button class="page-habits__button page-habits__button--double-border">Dislike Distractions</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Pragmatist</button>
                <button class="page-habits__button page-habits__button--double-border">Risk-Averse</button>
                <button class="page-habits__button page-habits__button--double-border">Solo Creator</button>
                <button class="page-habits__button page-habits__button--double-border">Non-Kinetic</button>
                <button class="page-habits__button page-habits__button--double-border">Routine-Seeker</button>
                <button class="page-habits__button page-habits__button--double-border">Monotasker</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Reframer</button>
                <button class="page-habits__button page-habits__button--double-border">Make It Happen</button>
                <button class="page-habits__button page-habits__button--double-border">Private</button>
                <button class="page-habits__button page-habits__button--double-border">Externally Motivated</button>
                <button class="page-habits__button page-habits__button--disabled" disabled>Night Owl</button>
                <button class="page-habits__button">Stimulated by Constraints</button>
                <button class="page-habits__button">Rational</button>
                <button class="page-habits__button">Slow-Paced</button>
                <button class="page-habits__button">Nature-Agnostic</button>
              </div>
            </div>
          </div>
          <!-- Content block -->
          <div class="page-habits__content-block">
            <p class="page-habits__final-text page-habits__final-text--italic">Diggin deeper...</p>
            <p class="page-habits__final-text">Creative beings in this species can make the most of their talents by opening up to ideas and environments that would otherwise make them uncomfortable, because the most original ideas often seem risky, and new experiences can lead to new thoughts.</p>
          </div>
          <!-- Content block -->
          <div class="page-habits__content-block">
            <p class="page-habits__final-text">We hope this exploration of your creative species has been insightful and inspiring, so your creative endeavors can bloom. Your artwork showcasing Mono Routinus & your creative habits is ready to download. It contains a unique link you can use to return to the site.</p>
            <a href="#" class="page-habits__download">
              Download My Results
              {{ icon(name="download", class="icon--habit-download") }}
            </a>
          </div>
        </div>
      </div>
      <a href="habits.html" class="page-species__reveal-next-page">
        {{icon(name="scroll", class="icon--next-page")}}
      </a>
    </div>
{% endblock %}
