{% extends "./templates/layout/_base.html" %}

{% from "templates/components/_header.html" import header %}
{% from "./templates/components/_icon.html" import icon %}

{% block page_title %}
  Lanscape
{% endblock %}

{% block page_header %}
  {{ header(showSound=true, showInfo=true, showMenu=true) }}
{% endblock %}

{% set pageClass='page--landscape-intro' %}
{% set bodyClass = '' %}

{% block page_content %}
  <div class="landscape-intro">
    <img src="images/landscape/map/map.png" alt="" class="landscape-intro__image">
    <div class="container">
      <div class="row">
        <div class="col col--landscape-intro">
          <h1 class="landscape-intro__title">Explore the habitats of the
            <span class="landscape-intro__title-italic">Seven Creative Species.</span></h1>
          <p class="landscape-intro__text">As in the natural world, each species thrives in some environments and struggles in others; some prefer calm, quiet alcoves, and others, bustling and social meadows. Some root deep for creative nutrients while others glide on the wind, seeking new experiences.</p>
          <p class="landscape-intro__text">Ready to find your habitat?</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
