{% extends "./templates/layout/_base.html" %}

{% block page_title %}
		Survey - Q1
{% endblock %}

{% block page_header %}
	{{ header(showSound=true, showHelp=true, showMenu=false) }}
{% endblock %}

{% set pageClass='page--survey' %}

{% block page_content %}
	<div class="container container--survey">
		<div class="row row--survey">
			<div class="col col--6 col--question">
        <div class="question question--row question--two-labels">
          <h1 class="title title--survey question__title">What do you regard as your strongest source of creative inspiration?</h1>
          <div class="question__wrapper">
            <div class="question__answer">
              <input class="question__input" type="radio" name="q1" id="q1-1">
              <label class="question__label" for="q1-1"><span class="question__text">From within (e.g., dreams, meditation, daydreaming)</span></label>
            </div>
            <div class="question__answer">
              <input class="question__input" type="radio" name="q1" id="q1-2">
              <label class="question__label" for="q1-2"></label>
            </div>
            <div class="question__answer">
              <input class="question__input" type="radio" name="q1" id="q1-3">
              <label class="question__label" for="q1-3"></label>
            </div>
            <div class="question__answer">
              <input class="question__input" type="radio" name="q1" id="q1-4">
              <label class="question__label" for="q1-4"></label>
            </div>
            <div class="question__answer">
              <input class="question__input" type="radio" name="q1" id="q1-5">
              <label class="question__label" for="q1-5"><span class="question__text">From outside (e.g., reading, events, conversation, observations outside)</span></label>
            </div>
          </div>
        </div>
				{% include "./templates/partials/_progress.html" %}
			</div>
			<div class="col col--6 d-flex-col">
				<div class="seed-animation">
					<img src="images/survey/seed1.png" alt="" class="seed-animation__image">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
