{% extends "./templates/layout/_base.html" %}

{% from "./templates/components/_icon.html" import icon %}

{% block page_title %}
		Survey - Faq
{% endblock %}

{% block page_header %}
	{{ header(showSound=true, showHelp=true, showMenu=false) }}
{% endblock %}

{% set pageClass='page--survey' %}

{% block page_content %}
	<div class="container container--survey container--grayscale">
		<div class="row row--survey">
			<div class="col col--6 col--question">
					<div class="question question--row">
						<h1 class="title title--survey question__title">How important to your creative process is it that you spend time outdoors in nature? </h1>
						<div class="question__wrapper">
							<div class="question__answer">
								<input class="question__input" type="radio" name="q26" id="q26-1">
								<label class="question__label" for="q26-1"><span class="question__text">Unimportant</span></label>
							</div>
							<div class="question__answer">
								<input class="question__input" type="radio" name="q26" id="q26-2">
								<label class="question__label" for="q26-2"></label>
							</div>
							<div class="question__answer">
								<input class="question__input" type="radio" name="q26" id="q26-3">
								<label class="question__label" for="q26-3"></label>
							</div>
							<div class="question__answer">
								<input class="question__input" type="radio" name="q26" id="q26-4">
								<label class="question__label" for="q26-4"></label>
							</div>
							<div class="question__answer">
								<input class="question__input" type="radio" name="q26" id="q26-5">
								<label class="question__label" for="q26-5"><span class="question__text">Extremely Important</span></label>
							</div>
						</div>
					</div>
				{% include "./templates/partials/_progress.html" %}
			</div>
			<div class="col col--6 d-flex-col">
				<div class="seed-animation">
					<img src="images/survey/seed26.png" alt="" class="seed-animation__image">
				</div>
			</div>
		</div>
		</div>
	</div>
{% endblock %}
{% block page_after %}
	<div class="cover cover--black survey-faq">
			<button class="cover__close">
				{{ icon(name="close") }}
			</button>
			<div class="cover__wrapper">
				<h4 class="survey-faq__title title">How to take this survey</h4>
				<p class="survey-faq__text">First of all, don’t sweat it. This isn’t a test; it’s a survey. Basically, we want you to simply reflect on yourself: we’re asking questions about when, where, and how you feel most creative. So when you take the survey, don’t overthink your answers. Just be yourself. After all, everyone’s path toward creativity is different.</p>
				<h4 class="survey-faq__title title">Conditioned behaviors VS natural preferences</h4>
				<p class="survey-faq__text">We want to know your preference. For example, if you would rather do your creative work early in the morning, but due to family obligations you end up working at night, then you should answer “Early Bird,” because that’s your preferred tendency. </p>
			</div>
	</div>
{% endblock %}
