<div class="cover cover--black cover--reveal">
    <button class="cover__close" (click)="closeInfo()">
      <app-icon name="close"></app-icon>
    </button>
  <div class="cover__wrapper">
    <h4 class="page-species__info-title">What are Creative Species?</h4>
    <p class="page-species__info-text">Your answers make up the unique DNA of your creative being. Although no two people share the exact same set of creative habits, we do all fit into one of seven Creative Species, each thriving in some environments and struggling in others. </p>
    <p class="page-species__info-text">These seven Creative Species were determined by broad patterns among ten thousand people. The Creative Species assigned to you is a function of how your unique combination of creative habits and preferences map onto the defining ones of the Seven Species. However, keep in mind that one or more of your preferences may differ completely from those most associated with your type. This is true in nature as well - even though they still can be grouped into species, every individual organism within a species is unique.</p>
    <p class="page-species__info-text">Click here to read more about the scientific background of this project. </p>
  </div>
</div>