<div class="habit-view">
  <h2 class="habit-view__title">Creativity is fluid, so are your <span class="habit-view__italic">creative habits</span>.</h2>
  <p class="habit-view__desc">
    Your creative habits will continue to evolve, and you may eventually evolve into another species.<br/><br/>Download your results and meet others at the Creative Landscape.
  </p>
  <div class="habit-download">
    <p class="habit-download__text">The PDF will come with a unique link that allows you to return to your results.</p>
    <a href="#" class="habit-download__button" (click)="download($event)">
      Download My Results
    </a>
    <div class="habit-download__retake">
      <a href="#" (click)="retake($event)">Retake the survey</a>  
    </div>
  </div>
</div>