<div class="container container--home-step3">
  <div class="row row--home-step3">
    <div class="col">
      <p class="text">
        The Creative Landscape survey is based on the<br/>largest-ever empirical study of creative habits, which map<br/>the diversity of ways people create: their strategies,<br/>tendencies, and preferences. And from it, we discovered the<br/>seven emergent creative species.        
      </p>
      <p class="text text--small">
        Over the next few minutes, the survey will assess your creative habits and<br/> identify which of the seven emerging Creative Species you’re most akin to.<br/> Ready to get started? Let’s get digging!
      </p>      
    </div>
    <div class="col">
      <a [routerLink]="['/survey']" class="button button--home-step3"  *ngIf="!(interviewResult$ | async); else resultsExist">Begin</a>
      <ng-template #resultsExist>
        <a [routerLink]="['/profile-reveal']" class="button button--home-step3 button--home-step3-results">My Results</a>
      </ng-template>
    </div>
  </div>
</div>