<ng-container [ngSwitch]="createiveSpecies$ | async">
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.MONO_ROUTINUS"
  >
    Creative beings in this species love a predictable environment but Mono
    routinus can make the most of their talents by opening up to ideas and
    situations that would otherwise make them uncomfortable, because the most
    original ideas often seem risky, and new experiences can stimulate new
    thoughts.
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.FOCUS_MONONOVOUS"
  >
    Creative beings in this species are capable of exploring deep into a
    subject, but when the creative well runs dry, Focus mononovus should explore
    other projects that introduce fresh ideas and broaden their creative
    perspective.
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.NOVO_GREGARIOUS"
  >
    Creative beings in this species feed their creative process by taking time
    to absorb the abundant inspiration the world has to offer. Novo gregarious
    harnesses this creative energy by exploring many possible solutions to
    creative problems, but because they draw inspiration from so many sources,
    they can sometimes struggle with the convergent thinking needed to nurture
    one specific creative solution.
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.YOLO_CHAOTIS"
  >
    Creative beings in this species have an enviable collection of creative
    habits, but because their ideas are often novel and unconventional, they
    risk being misunderstood and dismissed. To give their ideas the best chance
    of success, Yolo chaotis should understand that patience and clear
    communication is necessary to sharing radical creative solutions.
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.SOCIALIS_ADVENTUROUS"
  >
    Creative beings in this species typically thrive in a team environment and
    are comfortable exploring high-risk ideas, but Socialis adventurous should
    be mindful that others may be more cautious and need time alone to collect
    their ideas before collaborating
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.SUI_INSPIRA"
  >
    Creative beings in this species are most comfortable turning inward for
    inspiration, but Sui inspira should not forget to refill their creative well
    by exploring the variety and new experiences offered by the world around
    them.
  </p>
  <p
    class="page-habits__final-text"
    *ngSwitchCase="speciesEnum.SOLO_NOCTUS"
  >
    Creative beings in this species thrive in unrestricted freedom and bloom on
    their own schedule, but should not limit their creativity to such a rare
    environment. When conditions aren’t perfect, Solo noctus should embrace the
    ingenious solutions that can emerge from creative limits.
  </p>
</ng-container>
