<main class="page page-species page-species--rare-breed">
  <p class="page-species__intro-text">Your<br />Creative Species</p>
  <div class="page-species__wrapper">
    <div class="container page-species__container">
      <div class="row">
        <div class="page-species__bg-container page-species__bg-container--rare-breed">
          <img class="page-species__bg" appCache="/assets/img/species/rare_breed_bg.png" alt="">
        </div>
        <div class="col col--rare-breed-title">
          <div class="page-species__header-wrapper">
            <div class="page-species__header">
              <img class="page-species__title" appCache="/assets/img/species/rare_breed_title.svg" alt="">
            </div>
          </div>
        </div>
        <div class="col col--rare-breed-text">
          <p class="page-species__rare-text">
              Your answers indicate that you don’t have very strong preferences.
              That makes you one of the .2% who don’t map to one of the Seven Species.
              You can retake the survey or go straight to learning about the other 99.8% of respondents.
          </p>
          <a class="button button--rare-breed" (click)="retake()">Retake</a>
          <a class="button button--rare-breed" (click)="goToMap()">Meet others</a>
        </div>
      </div>
    </div>
  </div>
</main>
