@import "reset-css/reset.css";
@import "./styles/app.scss";
@import "./styles/fonts.scss";
@import "./styles/variables.scss";
@import "./styles/helpers.scss";
@import "./styles/animations.scss";

@import "./styles/page.scss";
@import "./styles/container.scss";
@import "./styles/wrapper.scss";
@import "./styles/row.scss";
@import "./styles/col.scss";
@import "./styles/cover.scss";
@import "./styles/title.scss";
@import "./styles/button.scss";

html {
  overscroll-behavior: none;
}

body.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow:auto;
}

.img-title {
  max-width: 100%;

  &--step1 {
    transform: translateX(-5px);
  }
}

.copyright {
  margin-bottom: 0;
  font-family: $font-gt-regular;
  font-size: 12px;
  color: $color-yellow;
  text-align: center;
}


.intro {
	//.intro__icons
	&__icons {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
		transform: translateX(-10px);
	}

	//.intro__text
	&__text {
		font-family: $font-gt-regular;
		font-size: 14px;
	}

  //.intro__img
  &__image {
    position: absolute;

    //.intro__img--1
    &--1 {
      top: -120px;
      right: 50%;
      transform: translate(-8.7vw, 0);
      width: 705px;
    }

		//.intro__img--2
    &--2 {
      top: -120px;
      left: 50%;
      transform: translate(-5.7vw, 0);
      width: 650px;
    }

		//.intro__img--3
    &--3 {
      right: 50%;
      bottom: -334px;
      transform: translate(-6vw, 0);
      width: 800px;
    }

		//.intro__img--4
    &--4 {
      left: 50%;
      bottom: -95px;
      transform: translate(6vw, 0);
      width: 860px;
    }
  }
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 434px;

	&__input {
		width: 100%;
		margin-bottom: 31px;
	}

	&__button {
		min-width: 203px;
	}
}

.input {
	padding: 9px 15px;
	background-color: $color-transparent;
	border-width: 0;
	border-bottom: 1px solid rgba($color-yellow, .4);
	font-family: $font-mi-roman;
	font-size: 24px;
	line-height: 1;
	color: $color-yellow;
	text-align: center;

  &.invalid {
  	border-bottom: 1px solid rgba(#ba000d, .7);
  }

	&::placeholder {
		color: $color-yellow;
	}
}
