.seed-animation {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 544px;
  height: 100%;
  max-height: 696px;
  margin: auto;
  border: 1px solid rgba($color-yellow, 0.4);
  border-radius: 50%;
  overflow: hidden;
  transform: translate3d(0,0,0);

  //.seed-animation__image
  &__image {
    max-width: 100%;
  }
}
